/include/ "system-conf.dtsi"

/ {
    chosen {
        bootargs = "console=ttyPS0,115200 earlycon root=/dev/mmcblk0p2 rw rootwait cma=256M video=HDMI-A-1:1280x720M-32@60 ";
    };

    usb_phy0: usb_phy0 {
        compatible = "usb-nop-xceiv";
        #phy-cells = <0>;
    };
};

&amba_pl {
    /* HDMI Encoder node */
    rehsd_hdmi: rehsd_hdmi {
        compatible = "rehsd,hdmi";
        clocks = <&clkc 15>;
        clock-names = "clk";
        status = "okay";

        rehsd,fmax = <150000>;
        rehsd,hmax = <1280>;
        rehsd,vmax = <720>;
        rehsd,hpref = <1280>;
        rehsd,vpref = <720>;

        rehsd,edid-i2c = <&i2c0>;

		port@0 { 
            reg = <0>;
			hdmi_ep0: endpoint { 
				remote-endpoint = <&pl_disp0_ep>; 
				hdmi,force-hot-plug = <1>;
			}; 
		}; 
    };

   	xlnx_pl_disp0 {
		compatible = "xlnx,pl-disp";
		device-id = <0xaa01>;
		dmas = <&v_frmbuf_rd_0 0>; 	
		dma-names = "dma0"; 
		xlnx,vformat = "XR24";		//XR24
		xlnx,bridge = <&v_tc_0>; 
		status = "okay";
		port@0 { 
            reg = <0>;
			pl_disp0_ep: endpoint { 
				remote-endpoint = <&hdmi_ep0>; 
			}; 
		};
	};
};

&v_frmbuf_rd_0 {
	// #dma-cells = <1>;
	// memory-region = <&framebuffer0>;
	clock-names = "ap_clk";
	clocks = <&clkc 15>;
	compatible = "xlnx,v-frmbuf-rd-v3.0";
	reg = <0x43c10000 0x10000>;      // Base address and size
    reset-gpios = <&gpio0 0 1>;
	// gpio-names = "reset";		//"reset"
	// interrupt-names = "interrupt";
	// interrupt-parent = <&intc>;
	interrupts = <0 29 4>;          // Interrupts configuration
	xlnx,dma-align = <8>;
	xlnx,dma-addr-width = <32>;     // Width of the DMA address
	xlnx,max-height = <1440>;        // Maximum vertical resolution
	xlnx,max-width = <2560>;        // Maximum horizontal resolution
	xlnx,pixels-per-clock = <1>;    // Pixels per clock cycle
	xlnx,vid-formats = "rgb888", "bgr888";
	// status = "okay";                // Enable the node
};

&v_tc_0 {
	compatible = "xlnx,v-tc-6.2" , "xlnx,v-tc-6.1" , "xlnx,bridge-v-tc-6.1";
	xlnx,pixels-per-clock = <1>; 
	// reg = <0x43c20000 0x10000>;
	// status = "okay";
};

&clkc {
    fclk-enable = <0x1>;
};

&clk_wiz_0 {
    compatible = "xlnx,clocking-wizard-v6.0", "xlnx,clocking-wizard";
    reg = <0x43c00000 0x10000>;
    #clock-cells = <1>;
    clocks = <&clkc 15>, <&clkc 15>;
    clock-names = "clk_in1", "s_axi_aclk";
    /* Outputs defined according to Vivado BD: clk_pixel = clk_out1, Serial_Clock = clk_out2 */
    clock-output-names = "clk_pixel", "Serial_Clock";
    xlnx,speed-grade = <1>;
    // xlnx,nr-outputs = <2>;
    status = "okay";
};

&usb0 {
    dr_mode = "otg";
    usb-phy = <&usb_phy0>;
};

